<header>
  <div class="container stagger-down">
    <a class="logo" href="index.html">
        <img class="logo1" src="assets/images/lancaster_legacy_logo1.png" alt="Lancaster-Legacy">
        <!-- <img class="logo2" src="assets/images/lancaster_legacy_logo2.png" alt="Lancaster-Legacy"> -->
    </a>
    <div class="left">
      <nav>
        <a href="index.html" class="@@if(active_nav_class === 'pHome'){active}">Trang chủ</a>
        <a href="index.html#locationWrap" class="">Vị trí</a>
        <a href="apartment-info.html" class="@@if(active_nav_class === 'pApartment'){active}">Thông tin căn hộ</a>
        <a href="facilities.html" class="@@if(active_nav_class === 'pFacilities'){active}">Tiện ích</a>
        <a href="gallery.html" class="@@if(active_nav_class === 'pGallery'){active}">Thư viện</a>
        
      </nav>
    </div>
    
    <div class="right">
      <nav>
        <a href="news.html" class="@@if(active_nav_class === 'pNews'){active}">Tin tức</a>
        <!-- <a href="#" class="">VR 360 tour</a> -->
        <a href="the-master.html" class="@@if(active_nav_class === 'pMaster'){active}">Lancaster By Trung Thuy</a>
        <a href="progress.html" class="@@if(active_nav_class === 'pProgress'){active}">Tiến độ</a>
        <a href="index.html#infomationWrap" class="">Liên hệ</a>
      </nav>
      <div class="lang">
        <p>VN</p>
      <a href="#">EN</a>
      </div>
      
    </div>
  </div>
</header>

<header class="fixedHeader">
  <div class="container">
    <div class="left">
        <nav>
            <a href="index.html" class="@@if(active_nav_class === 'pHome'){active}">Trang chủ</a>
            <a href="index.html#locationWrap" class="">Vị trí</a>
            <a href="apartment-info.html" class="@@if(active_nav_class === 'pApartment'){active}">Thông tin căn hộ</a>
            <a href="facilities.html" class="@@if(active_nav_class === 'pFacilities'){active}">Tiện ích</a>
            <a href="gallery.html" class="@@if(active_nav_class === 'pGallery'){active}">Thư viện</a>
            <a href="progress.html" class="@@if(active_nav_class === 'pProgress'){active}">Tiến độ</a>
          </nav>
    </div>
    <a class="logo" href="index.html"><img src="assets/images/lancaster_legacy_logo2.png" alt="Lancaster-Legacy"></a>
    <div class="right">
        <nav>
            <a href="news.html" class="@@if(active_nav_class === 'pNews'){active}">Tin tức</a>
            <a href="the-master.html" class="@@if(active_nav_class === 'pMaster'){active}">Lancaster By Trung Thuy</a>
            <a href="progress.html" class="@@if(active_nav_class === 'pProgress'){active}">Tiến độ</a>
            <a href="index.html#infomationWrap" class="">Liên hệ</a>
          </nav>
          <div class="lang">
            <p>VN</p>
          <a href="#">EN</a>
          </div>
    </div>
  </div>
</header>

<header class="menuMobile">
	<a class="logo" href="index.html"><img src="assets/images/lancaster_legacy_logo2.png" alt=""></a>
  	<div class="container">
		<div class="hamburger-menu js_menuMobile">
			<div class="bar"></div>
		</div>
		<div class="lang">
      <p>VN</p>
      <a href="#">EN</a>
    </div>
	</div>
  <div class="navMobile">
		<nav class="menufix">
			<ul>
          		<li>
					<a href="index.html" class="@@if(active_nav_class === 'pHome'){active}">Trang chủ</a>
					<span class="subMb js-subMenuMb"><img src="assets/images/ar-1.png"></span>
					<div class="submenu">
						<a href="index.html#overviewWrap">Tổng quan dự án</a>
						<a href="index.html#aboutUsWrap">Vài nét về Tập đoàn Trung Thuỷ</a>
						<a href="index.html#galleryWrap">Hình ảnh dự án</a>
						<a href="index.html#partnerWrap">Đối tác</a>
						<a href="index.html#infomationWrap">Liên hệ</a>
					</div>
				</li>
                <li>
                  <a href="index.html#locationWrap" class="">Vị trí</a></li>
                <li>
					<a href="apartment-info.html" class="@@if(active_nav_class === 'pApartment'){active}">Thông tin căn hộ</a>
					<span class="subMb js-subMenuMb"><img src="assets/images/ar-1.png"></span>
					<div class="submenu">
						<a href="apartment-info.html#masterplan">Masterplan</a>
						<a href="apartment-info.html#floorplan">Mặt bằng tiện ích</a>
						<a href="apartment-info.html#rooftop">Mặt bằng toà</a>
					</div>
				</li>
                <li>
					<a href="facilities.html" class="@@if(active_nav_class === 'pFacilities'){active}">Tiện ích</a>
					<span class="subMb js-subMenuMb"><img src="assets/images/ar-1.png"></span>
					<div class="submenu">
						<a href="facilities.html#PrivateLegacyclub">Private Legacy club</a>
						<a href="facilities.html#ShoppingCenter">Trung tâm thương mại</a>
						<a href="facilities.html#HealthUtility">Tiện ích sức khoẻ</a>
						<a href="facilities.html#Entertainment">Giải trí </a>
						<a href="facilities.html#Business">Business</a> 
					</div>
				</li>
                <li><a href="gallery.html" class="@@if(active_nav_class === 'pGallery'){active}">Thư viện</a></li>
                
                <li><a href="news.html" class="@@if(active_nav_class === 'pNews'){active}">Tin tức</a></li>
                <!-- <li><a href="#" class="">VR 360 tour</a></li> -->
                <li>
					<a href="the-master.html" class="@@if(active_nav_class === 'pMaster'){active}">Lancaster By Trung Thuy</a>
					<span class="subMb js-subMenuMb"><img src="assets/images/ar-1.png"></span>
					<div class="submenu">
						<a href="the-master.html#LancasterTheMaster">Lancaster The Master</a>
						<a href="the-master.html#LancasterClub">Lancaster Club</a>
						<a href="the-master.html#ConsultingTeam">Đội ngũ tư vấn</a>
					</div>
				</li>
                <li><a href="progress.html" class="@@if(active_nav_class === 'pProgress'){active}">Tiến độ</a></li>
                <li><a href="index.html#infomationWrap" class="">Liên hệ</a></li>
			</ul>
			
		</nav>
  </div>
</header>
  

